/*

!/.gitkeep
!/.config

# git

!/.gitconfig
!/.gitignore

# kubectl

!/.kube

# zsh

!/.zshrc

# project files

!/.github
!/docs
!/scripts
!/.ecrc
!/.editorconfig
!/.pre-commit-config.yaml
!/.renovaterc.json
!/.yaml-lint.yml
!/LICENSE.txt
!/Makefile
!/README.md
