/*

# git

!/.gitconfigs
!/.gitconfig
!/.gitignore

# kubernetes

!/.kube

# project files

!/.gitkeep

!/.github
!/scripts
!/.ecrc
!/.editorconfig
!/.pre-commit-config.yaml
!/.renovaterc.json
!/.yaml-lint.yml
!/LICENSE.txt
!/Makefile
!/README.md
