name: CI

# yamllint disable-line rule:truthy
on:
  check_run:
    types:
    - rerequested
    - requested_action
  pull_request:
    branches:
    - master
  push:
    branches:
    - master
    tags:
    - v*

defaults:
  run:
    shell: bash

jobs:
  stylecheck:
    if: contains(github.head_ref, 'deps/') == false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Lint
      run: |
        make lint.all

    - name: Check sparse-checkout working
      run: |
        ls -alh

        cat .gitkeep | git sparse-checkout set --stdin

        ls -alh

        if [ -f "Makefile" ]; then
          echo "Unexpected Makefile not removed"
          exit 1
        fi

        if [ ! -f ".gitconfig" ]; then
          echo "Unexpected .gitconfig not kept"
          exit 1
        fi
